<?xml version="1.0"?>
<launch>
    <arg name="gripper_2f" default="false" />
    <arg name="camera" default="true" />
    <arg name="conveyor" default="false" />
    <arg name="conveyor_RED" default="false" />
    <param name="robot_description" command="$(find xacro)/xacro '$(find kr150_gazebo)/urdf/kr150_main.xacro' 
  camera:=$(arg camera) gripper_2f:=$(arg gripper_2f) conveyor:=$(arg conveyor) conveyor_RED:=$(arg conveyor_RED)"/>
</launch>