<?xml version="1.0" ?>
<robot name="kr150_main" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="camera" default="true"/>
  <xacro:arg name="gripper_2f" default="false"/>
  <xacro:arg name="conveyor" default="false"/>
  <xacro:arg name="conveyor_RED" default="false"/>


  <xacro:include filename="$(find kr150_gazebo)/urdf/gazebo.xacro"/>
  <!--<xacro:include filename="$(find kr150_gazebo)/urdf/banda.xacro"/>-->

  <!-- camera -->
  <xacro:if value="$(arg camera)">
    <xacro:include filename="$(find kr150_gazebo)/urdf/camera.xacro"/>
  </xacro:if>

  <!-- gripper -->
  <xacro:if value="$(arg gripper_2f)">
    <xacro:include filename="$(find kr150_gazebo)/urdf/gazebo_2f.xacro"/>
  </xacro:if>

  <!-- conveyor -->
  <xacro:if value="$(arg conveyor)">
    <xacro:include filename="$(find kr150_gazebo)/urdf/banda.xacro"/>
  </xacro:if>

  <!-- conveyor RED-->
  <xacro:if value="$(arg conveyor_RED)">
    <xacro:include filename="$(find kr150_gazebo)/urdf/banda_RED.xacro"/>
  </xacro:if>

</robot>